@media(max-width:1290px)
{
    header .list a
    {
        display: none;
    }
    header .icon
    {
        display: flex !important;
        justify-content: center;
        margin-bottom: 30px;
    }
}
header .icon .fa-bars.menubar
{
    visibility: hidden;
}