.container
{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
}
.container h2
{
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}