footer
{
    position: absolute;
    left: 0;
    right: 0;
    height: 70px;
    background: #001623;
    color: #00fe78;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
footer p:nth-child(2)
{
    font-size: 0.6em;
}