@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}
body
{
    background: #ffffff;
}
header
{
    height: 100px;
    position: absolute;
    left: 0;
    right: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu
{
    margin-left: 50px;
}
.menu a
{
    margin-left: 50px;
    font-size: 2em;
    text-decoration: none;
    color: black;
}
.shopcart
{
    margin-right: 50px;
}
.shopcart a
{
    color: black;
    font-size: 3em;
}
.content
{
    padding: 150px;
}
.container
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.box
{
    height: 500px;
    width: 400px;
    transform-style: preserve-3d;
    perspective: 1000px;
    margin-top: 100px;
    margin-left: calc(50% - 400px / 2);
}
.box img
{
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: 1s;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.3));
}
.box .info
{
    transition: 1s;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    text-align: center;
}
.box .info h1
{
    padding: 20px;
}
.box .info p
{
    font-size: 1.3em;
}
.box .info form
{
    position: absolute;
    bottom: 50px;
    left: calc(50% - 200px / 2);
}
.box .info button
{
    font-size: 1.3em;
    border: none;
    background: #006472;
    padding: 20px;
    width: 200px;
    color: white;
    cursor: pointer;
}
.box:hover .info,
.box:active .info
{
transform: rotateY(0);
}
.box:hover img,
.box:active img
{
transform: rotateY(-180deg);
}



.card
{
    margin: 20px;
    padding: 20px;
    background: #eee;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 8px;
}
.card a
{
    text-decoration: none;
    position: absolute;
    right: 20px;
    color: black;
    background: #ff7300;
    padding: 20px;
    border-radius: 10px;
}
.card a:hover
{
    background: #f00;
}
.card img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid white;
}
.card b:nth-child(2)
{
    padding-left: 30px;
    font-size: 1.5em;
}
.speaker
{
    background: white;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
    border-radius: 20px;
    margin-top: 40px;
    position: relative;
    display: flex;
    align-items: center;
}
.speaker p
{
    font-size: 1.5em;
    font-weight: 900;
    margin-left: 70px;
}
.speaker img
{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: scale(0.9);
}
.speaker a
{
    position: absolute;
    right: 0;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    background: #123;
    right: 10px;
    color: white;
    margin-top: 10px;
}
.speaker a:nth-child(3)
{
    top: 0px;
}
.speaker a:nth-child(4)
{
    bottom: 10px;
    background: green;
}
.question
{
    padding: 200px;
    margin-left: 500px;
}
.question input
{
    font-size: 1.5em;
}
.question button
{
    font-size: 1.5em;
}